
body{
   padding-top: 10px;
   background-color: #74a0a9;
}

#principal{
    width: 1000px;
     margin:0 auto;
}



#cabecera{
   height: 170px;
}

#cabeceraPrincipal{
   height: 260px;
}

#menu{
 height: 30px;
 border: 1px solid #CCC;
 margin: 456px;
}

#columnaizq{
    width: 980px;
    margin: 19px;
    position:absolute;
    top: 180px;
    left: 170px;
   
}

#columnaizq ul{                          /*propiedad para desaparecer puntos de lista*/
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color:  #010743 ;

}

li {
    float: left;
}

#columnaizq  li a{
<<<<<<< HEAD
   display: block;
    color: black;
=======
  //margin-top: 5px;
  //font-family: tahoma;
  display: block;
    color: white;
>>>>>>> 2e957ddf979a30ab8ac2470f0cb870df14af3c67
    text-align: center;
    padding: 8px 16px;
    font-size: 18px;
    text-decoration: none;
    font-weight:bold;
}

#columnaizq li a:hover{

}


#columnaizq ul li a{
    text-decoration:none;     /*quita subrayado de hipervinculo*/

}

<<<<<<< HEAD

#btnprincipal{
  display: inline-block;
    border-radius: 10px;
    background-color: #001c56;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 287px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
 }
=======
 ul#myList {
    background: transparent;
}

ul#myList ul{
   background: transparent;
}


ul#myList a{
    color: black;
}
>>>>>>> 2e957ddf979a30ab8ac2470f0cb870df14af3c67

#columnader{
    width: 700px;

    margin: 10px;
    float: left;
    height: 500px;
    position:absolute;
    top: 230px;
    left: 450px;
    
}

.clear{
    clear:both;              /*esta propiedad no permite que*/
                             /*las columnas se salgan del contenedor*/
}

#pie{
    height: 90px;
     margin: 10px;
 	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 11px;
  color:black;
}

#loginForm{
	margin: auto;
	width: 400px;
	padding-top: 10px;
	padding-bottom: 40px;
}

#infoUsuario{
	font-family: 'Roboto',Arial,sans-serif !important;
        font-size: 12px !important;
	height: 20px;
	border-bottom: 1px solid #CCC;
        font-weight: bold;
  color: black;

}

#infoUsuario_nombre{
	float: left;


}
#infoUsuario_rol{
	float: right;
}

.alertaError{
	color: #E30913;
	
    box-shadow:inset 0px 0px 2px 0px rgba(255, 0, 0, 0.75);
}


/* estilo para tabla carrito*/

.TableDatos {
    border: #265a88 0px solid;
    font-size: 14px !important;
}
.TableDatos table{

}
.TableDatos tbody{
}
.TableDatos tr{
    border: #265a88 1px solid;;
    height: 33px;
}
.TableDatos td{
    border: #265a88 1px solid;
    color: black;
}

.textoTitulo{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.fondoTextoTitulo{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background: lightsteelblue; border-collapse: separate
}

#OrderPackages{

  width: 200px;

}

input[type="radio"] {
 
     vertical-align: baseline;

}

textarea{
  height: 8em;
  width: 50em;
  
    
}
