@CHARSET "ISO-8859-1";
body{
   padding-top: 10px;
   background-color: #74a0a9;
}

#principal{
    width: 1000px;
   // border: 1px solid #CCC;
    margin:0 auto;
}

@import "url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css')";


#cabecera{
   height: 170px;
}

#cabeceraPrincipal{
   height: 260px;
}

#menu{
 height: 30px;
 border: 1px solid #CCC;
 margin: 456px;
}

#columnaizq{
    width: 980px;
    margin: 19px;
    position:absolute;
    top: 180px;
    left: 170px;
    //border: 1px solid #CCC;
   // background: url("../img/header_listo.jpg") no-repeat ;
}

#columnaizq ul{                          /*propiedad para desaparecer puntos de lista*/
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color:  #010743 ;

}

li {
    float: left;
}

#columnaizq  li a{
  //margin-top: 5px;
  //font-family: tahoma;
  display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    font-size: 18px;
    text-decoration: none;
    font-weight:bold;
}

#columnaizq li a:hover{
 //  background-color:    #2a6e90     ;

}


#columnaizq ul li a{
    text-decoration:none;     /*quita subrayado de hipervinculo*/

}

 ul#myList {
    background: transparent;
}

ul#myList ul{
   background: transparent;
}


ul#myList a{
    color: black;
}

#columnader{
    width: 700px;

    margin: 10px;
    float: left;
    height: 500px;
    position:absolute;
    top: 230px;
    left: 450px;
     //border: 1px solid #CCC;
}

.clear{
    clear:both;              /*esta propiedad no permite que*/
                             /*las columnas se salgan del contenedor*/
}

#pie{
    height: 90px;
  //  border: 1px solid #CCC;
    margin: 10px;
 	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 11px;
  color:black;
}

#loginForm{
	margin: auto;
	width: 400px;
	padding-top: 10px;
	padding-bottom: 40px;
}

#infoUsuario{
	font-family: 'Roboto',Arial,sans-serif !important;
        font-size: 12px !important;
	height: 20px;
	border-bottom: 1px solid #CCC;
        font-weight: bold;
  color: black;

}

#infoUsuario_nombre{
	float: left;


}
#infoUsuario_rol{
	float: right;
}

.alertaError{
	color: #E30913;
	//border: 1px solid rgba(215, 0, 0, 0.75);
    box-shadow:inset 0px 0px 2px 0px rgba(255, 0, 0, 0.75);
}


/* estilo para tabla carrito*/

.TableDatos {
    border: #265a88 0px solid;
    font-size: 14px !important;
}
.TableDatos table{

}
.TableDatos tbody{
}
.TableDatos tr{
    border: #265a88 1px solid;;
    height: 33px;
}
.TableDatos td{
    border: #265a88 1px solid;
    color: black;
}

.textoTitulo{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.fondoTextoTitulo{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background: lightsteelblue; border-collapse: separate
}

#OrderPackages{

  width: 200px;

}

input[type="radio"] {
     width:50px;
    height:50px;
     vertical-align: baseline;

}
